body {
  background: #fbfbfb
}
.simditor-device {
  width: 340px;
  height: 702px;
  margin: 0 auto;
  margin-top: 20px;
  background: url(../images/device-sprite.png) no-repeat;
  background-size: auto 100%;
  position: relative;
}
.simditor-content::-webkit-scrollbar-button {
  display: none;
}
.simditor-content::selection {
  background: #888;
  color: #fff;
}
.simditor-content::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  padding-right: 2px;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 2px #ccc;
}
.simditor-content::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  border: 1px solid #f9f9f9;
  background-color: #9a9a9a;
}

.simditor-content {
  width: 277px;
  height: 491px;
  overflow: auto;
  position: absolute;
  top: 101px;
  left: 32px;
  color: #999;
}
.simditor-content img {
  border: 1px solid red;
  display: inline-block;
}
.simditor-content img:before{
content: attr(alt)
}
