
.simditor-fullscreen {
  overflow: hidden;
}
.simditor-fullscreen .simditor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.simditor-fullscreen .simditor .simditor-body {
  overflow: auto;
}
